fastapi
uvicorn[standard]
sqlalchemy>=2.0
asyncpg
alembic
pydantic>=2
pydantic-settings
celery
redis
yfinance
openai
pandas
PyJWT
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
fastapi-limiter==0.1.6
prometheus-fastapi-instrumentator
python-json-logger==2.0.7